.DS_Store

*.swp
*.swo

# Build system crap
src/Unix/aclocal.m4
src/Unix/autom4te.cache/*
src/Unix/config.h
src/Unix/config.h.in
src/Unix/config.log
src/Unix/config.status
src/Unix/configure
src/Unix/Darwin/lowmem
src/Unix/Darwin/pagezero
src/Unix/Makefile

# Built objects
src/Unix/SheepShaver
src/Unix/obj/*
src/Unix/core*
src/Unix/*.core 
src/Unix/*~ 
src/Unix/*.bak 
src/Unix/ppc-execute-impl.cpp
src/Unix/dyngen
src/Unix/basic-dyngen-ops.hpp
src/Unix/ppc-dyngen-ops.hpp
src/Unix/ppc_asm.out.s

# Basilisk II symlinks
src/adb.cpp
src/audio.cpp
src/BeOS/audio_beos.cpp
src/BeOS/extfs_beos.cpp
src/BeOS/scsi_beos.cpp
src/BeOS/serial_beos.cpp
src/BeOS/SheepDriver
src/BeOS/SheepNet
src/BeOS/sys_beos.cpp
src/BeOS/timer_beos.cpp
src/BeOS/xpram_beos.cpp
src/cdrom.cpp
src/disk.cpp
src/dummy/audio_dummy.cpp
src/dummy/clip_dummy.cpp
src/dummy/prefs_editor_dummy.cpp
src/dummy/scsi_dummy.cpp
src/dummy/serial_dummy.cpp
src/extfs.cpp
src/include/adb.h
src/include/audio.h
src/include/audio_defs.h
src/include/cdrom.h
src/include/clip.h
src/include/debug.h
src/include/disk.h
src/include/extfs.h
src/include/extfs_defs.h
src/include/prefs.h
src/include/scsi.h
src/include/serial.h
src/include/serial_defs.h
src/include/sony.h
src/include/sys.h
src/include/timer.h
src/include/xpram.h
src/kpx_cpu/src/cpu/jit/x86/codegen_x86.h
src/MacOSX/audio_macosx.cpp
src/MacOSX/AudioBackEnd.cpp
src/MacOSX/AudioBackEnd.h
src/MacOSX/AudioDevice.cpp
src/MacOSX/AudioDevice.h
src/MacOSX/clip_macosx.cpp
src/MacOSX/extfs_macosx.cpp
src/MacOSX/macos_util_macosx.h
src/MacOSX/MacOSX_sound_if.cpp
src/MacOSX/MacOSX_sound_if.h
src/MacOSX/sys_darwin.cpp
src/prefs.cpp
src/scsi.cpp
src/SDL
src/slirp
src/sony.cpp
src/Unix/audio_oss_esd.cpp
src/Unix/bincue_unix.cpp
src/Unix/bincue_unix.h
src/Unix/clip_unix.cpp
src/Unix/config.guess
src/Unix/config.sub
src/Unix/cpr.sh
src/Unix/Darwin/lowmem.c
src/Unix/Darwin/mkstandalone
src/Unix/Darwin/pagezero.c
src/Unix/Darwin/testlmem.sh
src/Unix/ether_unix.cpp
src/Unix/extfs_unix.cpp
src/Unix/Irix/audio_irix.cpp
src/Unix/keycodes
src/Unix/ldscripts
src/Unix/Linux/NetDriver
src/Unix/Linux/scsi_linux.cpp
src/Unix/m4
src/Unix/posix_sem.cpp
src/Unix/rpc.h
src/Unix/rpc_unix.cpp
src/Unix/semaphore.h
src/Unix/serial_unix.cpp
src/Unix/sigsegv.cpp
src/Unix/sigsegv.h
src/Unix/sshpty.c
src/Unix/sshpty.h
src/Unix/strlcpy.c
src/Unix/strlcpy.h
src/Unix/sys_unix.cpp
src/Unix/timer_unix.cpp
src/Unix/tunconfig
src/Unix/vhd_unix.cpp
src/Unix/vhd_unix.h
src/Unix/video_blit.cpp
src/Unix/video_blit.h
src/Unix/video_vosf.h
src/Unix/vm_alloc.cpp
src/Unix/vm_alloc.h
src/Unix/xpram_unix.cpp
src/Windows/b2ether
src/Windows/cd_defs.h
src/Windows/cdenable
src/Windows/clip_windows.cpp
src/Windows/ether_windows.cpp
src/Windows/ether_windows.h
src/Windows/extfs_windows.cpp
src/Windows/kernel_windows.cpp
src/Windows/kernel_windows.h
src/Windows/posix_emu.cpp
src/Windows/posix_emu.h
src/Windows/prefs_editor_gtk.cpp
src/Windows/router
src/Windows/serial_windows.cpp
src/Windows/sys_windows.cpp
src/Windows/timer_windows.cpp
src/Windows/util_windows.cpp
src/Windows/util_windows.h
src/Windows/xpram_windows.cpp
src/xpram.cpp

